<?xml version="1.0"?>
<!--

-->

<launch>
    <!-- <arg name="svo_file" default="path/to/svo/file.svo">  -->
    <!--<arg name="svo_file"             default="" />  -->

    <!-- <arg name="stream" default="<ip_address>:<port>">  -->
    <!-- <arg name="stream"               default="" />  -->

    <arg name="node_name"                 default="obj_det" />
    <arg name="package_name"              default="zed_obj_det" />

    <!--<arg name="cam_pitch"             default="0.0" />  Orientation respect to base frame (i.e. "base_link) -->
    <!--<arg name="cam_yaw"               default="0.0" />  Orientation respect to base frame (i.e. "base_link) -->

    <!-- <node name="$(arg node_name)" pkg="dwm_wrapper" type="dwm_ex" output="screen"> -->
    <node name="$(arg node_name)" pkg="$(arg package_name)" type="$(node_name)_ex" output="screen">

    </node>

    <rosparam file="$(find zed_obj_det)/params/obj_det_params.yaml" />

</launch>



