<?xml version="1.0"?>

<launch>

    <arg name="node_name"                 default="dwm_ex" />
    <arg name="package_name"              default="dwm_wrapper" />

    <!-- <node name="$(arg node_name)" pkg="dwm_wrapper" type="dwm_ex" output="screen"> -->
    <node name="enemy_locations" pkg="$(arg package_name)" type="dwm_ex" output="screen">
    
    </node>

    <rosparam file="$(find dwm_wrapper)/params/dwm_params.yaml" />

</launch>



